<body>
    <mat-card>
        <b><span>Menu</span></b>
    </mat-card>
    <br>
    <div class="row">
        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Proschutto Pizza</mat-card-title>
                    <mat-card-subtitle>Pizza</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/1.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                        Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                        Proin non purus vel enim vehicula molestie. 
                        Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                        Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                        Morbi pharetra tellus leo, nec mollis justo venenatis ut.
                    </p>

                    <p>
                        <b>Ár:</b>
                        1100Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Min.: 40 perc
                    </p>
                        
                        <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Indiai Csirke</mat-card-title>
                    <mat-card-subtitle>Tálétel</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/2.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                    Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                    Proin non purus vel enim vehicula molestie. 
                    Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                    Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                    Morbi pharetra tellus leo, nec mollis justo venenatis ut.</p>
                    
                    <p>
                        <b>Ár:</b>
                        1400Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Min.: 30 perc
                    </p>

                    <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Paradicsomos Pesto</mat-card-title>
                    <mat-card-subtitle>Tálétel</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/3.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                        Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                        Proin non purus vel enim vehicula molestie. 
                        Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                        Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                        Morbi pharetra tellus leo, nec mollis justo venenatis ut.
                    </p>

                    <p>
                        <b>Ár:</b>
                        1500Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Min.: 35 perc
                    </p>
                        
                        <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Csokoládés Szuflé</mat-card-title>
                    <mat-card-subtitle>Desszert</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/4.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                        Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                        Proin non purus vel enim vehicula molestie. 
                        Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                        Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                        Morbi pharetra tellus leo, nec mollis justo venenatis ut.
                    </p>

                    <p>
                        <b>Ár:</b>
                        800Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Max.: 10 perc
                    </p>
                        
                        <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Bolognai Spagetti</mat-card-title>
                    <mat-card-subtitle>Tálétel</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/5.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                        Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                        Proin non purus vel enim vehicula molestie. 
                        Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                        Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                        Morbi pharetra tellus leo, nec mollis justo venenatis ut.
                    </p>

                    <p>
                        <b>Ár:</b>
                        1200Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Min.: 30 perc
                    </p>
                        
                        <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="column">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Tenger Gyümölcse</mat-card-title>
                    <mat-card-subtitle>Pizza</mat-card-subtitle>
                    <img mat-card-lg-image class="product-image" src="../../assets/img/food1.jpg">
                </mat-card-title-group>

                <mat-card-content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Sed aliquam blandit dui at malesuada. Curabitur sed ipsum nisl. 
                        Donec tortor felis, blandit vel ultricies a, porttitor nec risus. 
                        Proin non purus vel enim vehicula molestie. 
                        Nulla facilisis felis id nisi lobortis, quis molestie mauris tristique. Donec nec metus odio. 
                        Fusce elementum diam velit, ac aliquam turpis ultrices quis. 
                        Morbi pharetra tellus leo, nec mollis justo venenatis ut.
                    </p>

                    <p>
                        <b>Ár:</b>
                        1400Ft
                    </p>

                    <p>
                        <b>Elkészítési idő:</b>
                        Min.: 40 perc
                    </p>
                        
                        <button class="button">Add to Cart</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</body>